vti_encoding:SR|utf8-nl
vti_author:SR|RENDERING\\Paul
vti_modifiedby:SR|RENDERING\\Paul
vti_timelastmodified:TR|16 Feb 2019 00:15:34 -0000
vti_timecreated:TR|10 Jun 2018 19:14:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Test.html default.html Email.html
vti_nexttolasttimemodified:TW|15 Feb 2019 23:28:25 -0000
vti_cacheddtm:TX|16 Feb 2019 00:15:34 -0000
vti_filesize:IR|8929
vti_cachedlinkinfo:VX|S|Organica.jpg S|Pointers/DownArrow.png
vti_cachedsvcrellinks:VX|FSUS|Organica.jpg FSUS|Pointers/DownArrow.png
